<mat-spinner *ngIf="loading"></mat-spinner>

<div *ngIf="!loading" class="fadeIn">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let PokemonRecibido of ArrayPokemons">
      <app-cards [pokemonInput]="PokemonRecibido"></app-cards>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="pagination">
    <mat-icon (click)="paginationLeft()">arrow_left</mat-icon>
    <p>{{ indicePaginacion }}</p>
    <mat-icon (click)="paginationRight()">arrow_right</mat-icon>
  </div>
</div>

<!--Input es el puente y sirve para pasar un elemento padre a un elemento hijo
  nif - Se utiliza para mostrar u ocultar informacion
  -->
