mat-grid-list {
  width: 100vw;
}

.pagination {
  display: flex;
  width: 100%;
  background: rgb(0, 113, 128);
  justify-content: space-around;
  color: #fff;
}

.pagination p {
  line-height: 70px;
  font-size: 20px;
}

mat-icon {
  font-size: 70px;
  height: 100%;
  cursor: pointer;
}

mat-spinner {
  margin: 20px 45vw;
}

.fadeIn {
  animation: animacion 0.5s ease-in-out;
}

@keyframes animacion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
