<mat-drawer class="example-sidenav" [opened]="openSidebar" mode="over">
  <mat-icon (click)="closeSidenavmethod()">close</mat-icon>
  <mat-card class="example-card">
    <img mat-card-image [src]="Imagen" alt="Imagen" />
  </mat-card>
  <hr />
  <button mat-button color="basic">Home</button>
  <button mat-button color="basic" [matMenuTriggerFor]="menu">Podekex</button>
  <mat-menu #menu="matMenu">
    <button mat-button color="basic">Video Games and Apps</button>
    <button mat-button color="basic">Play Pokemon Events</button>
  </mat-menu>
  <button mat-button color="basic">News</button>
</mat-drawer>
