<mat-drawer class="example-sidenav" [opened]="openSidebar" mode="over">
  <mat-icon (click)="closeSidenavmethod()">close</mat-icon>
  <mat-card class="example-card">
    <img mat-card-image [src]="Imagen" alt="Imagen" />
  </mat-card>
  <hr />
  <button mat-button color="basic" routerLink="cards" (click)="Home()">Home</button>
  <button mat-button color="basic" routerLink="search" (click)="EnviarBusqueda()">Seach Pokemon</button>
  <button mat-button color="basic" routerLink="about" (click)="About()">About</button>
  <br>
  <div>
  </div>
</mat-drawer>
