.contenedor{
    width: 80%;
    height: 100vh;
    margin: 20% auto;
    background: #f2f2f2;
}

h4{
    height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.tipos li{
    margin-left: 5px;
    list-style-type: none;
    background: rgb(162, 163, 163);
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 20px;
}

.tipos ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fila1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 15px;
}

.Fila1 img{
    display: block;
}

.Fila1 ul{
    width: 15%;
    height: 80%;
}

.descripcion{
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 15px;
}       

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

mat-spinner{
    margin: 20px auto;
}